<!--open wrapper -->
<div class="wrapper">
    <!--open section tag, this id is called within the controller when an advert has successfully been bought-->
    <section id="Buysuccess">
        <!--heading-->
        <h3>
            Congratulations
        </h3>
        <!--paragraph with success message-->
        <p>
            Your details have been sent to the advertiser. You can either contact the advertiser or they will contact you.
        </p>
    <!--close section-->
    </section>
<!--close wrapper-->
</div>